<div class="row">
  
  <div class="col-sm-4">
    <br><br>
    <img width="350" src="/assets/images/tornamesa.jpg">
  </div>
  
  <div class="row">

    <div class="col-sm-8">
      <h2>Lista de Discos: </h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID_Disco</th>
            <th>Artista</th>
            <th>Nombre Album</th>
            <th>Sello</th>
            <th>Lanzamiento</th>
            <th>Precio</th>
            <th>Coleccionista</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disco of discoService.discosList">
            <td>{{disco.idDisco}}</td>
            <td>{{disco.artista}}</td>
            <td>{{disco.nombreAlbum}}</td>
            <td>{{disco.sello}}</td>
            <td>{{disco.lanzamiento}}</td>
            <td>{{disco.precio}}</td>
            <td>{{disco.cedulaColeccionista.nombres}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>